[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
ghp-import = "*"
Markdown = "*"
numpy = "*"
matplotlib = "==2.2.3"
future = "*"
notebook = "*"

[dev-packages]

[requires]
python_version = "3.7"
